<div id="top">
  <div id="contents">
    <div id="l">
      <img class="_logo" src="/assets/img/logo_top.svg" alt="Mi GENO">
      <p>Mi-Genoはお持ちのvcfファイルを分解し<br>必要情報のみを抽出・再構築するツールです</p>
    </div>
    <div id="r">
      <a id="menu1" class="_menu _on"  (click)="goToPage('/registration')">
        <h4>Data Registation</h4>
        <p>新たにデータを登録する</p>
        <img class="_triangle" src="/assets/img/triangle.svg" alt="▶︎">
      </a>
      <a id="menu2" class="_menu"  (click)="goToPage('/registeredfiles')">
        <h4>Data View and Export</h4>
        <p>登録したデータを閲覧・抽出する</p>
        <img class="_triangle" src="/assets/img/triangle.svg" alt="▶︎">
      </a>
    </div>
  </div>
</div>
